.container {
  width: 128px;
  height: 32px;
  border-radius: 4px;

  font-size: var(--font-size-small);
  color: var(--color-main-white);
  background: var(--color-accent-regular);
  outline: none;
  border: 2px solid transparent;
  cursor: pointer;
}

.container:active {
  background: var(--color-accent-active);
}

.container:focus {
  border: 2px solid var(--color-accent-focus);
}
