.container {
  display: flex;
  width: 100%;
  padding: 24px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--color-main-light);
  height: 80px;
  box-sizing: border-box;
  top: 0;
  background: var(--color-main-white);
  z-index: 3;
}

.navigation {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigationItem {
  display: inline-block;
  margin: 12px;
}

.navigationLink {

  font-size: var(--font-size-small);
  color: var(--color-main-dark);
  text-decoration: none;
}

.navigationLink:hover {
  text-decoration: underline;
}

