:root {
  --color-main-white: #fff;
  --color-main-light: #ededed;
  --color-main-dark: #4a4a4a;
  --color-accent-regular: #ea7f28;
  --color-accent-active: #d37324;

  --color-accent-focus: #5199ff;

  --font-size-large: 32px;
  --font-size-medium: 18px;
  --font-size-small: 14px;
  --font-size-tiny: 12px;

  --font-weight-bold: 700;
  --font-weight-regular: 400;

  --font-family-default: 'Roboto', sans-serif;
}
